body {
    font-family: Black Ops One;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: #24ff00;
    padding: 15px;
    text-align: center;
}

nav select {
    font-family: quicksand;
    font-weight: bold;
    padding: 8px;
    font-size: 30px;
}

nav option {
    font-family: quicksand;

    padding: 8px;
    font-size: 30px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main img {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}

main p {
    font-family: quicksand;
    font-size: 20px;
}

h1 {
    color: #24ff00;
}

h2 {
    color: black;
    font-family: "Black Ops One";
    font-size: 40px;
}

p {
    color: black;
    font-size: 20px;
    font-family: quicksand;
    font-weight: bold;
}

.projectSection {
    display: none;
    padding: 20px;

}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 0 0 25%;
    padding: 10px;
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    height: 300px;
    cursor: pointer;
}

.gallery-item video {
    width: 100%;
    height: 300px;
}

.gallery-item iframe {
    width: 100%;
    height: 300px;

}
#WPL2_eindreflectie {
    padding-left: 300px;
    padding-right: 300px;
}
footer {
    background-color: black;
    color: #24ff00;
    padding: 15px;
    text-align: center;
    padding-top: 30px;
}

footer p {
    color: #24ff00;
    font-family: "Black Ops One";
    font-size: 30px;
}

footer a {
    color: #24ff00;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.social-icons a {
    font-size: 60px;
    color: white;
}

@media screen and (max-width: 600px) {
    body {
        text-align: center;
    }

    main {
        flex-direction: column;
    }

    main img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    main p {
        margin: 0 20px 0 20px;
    }

    .gallery-item {
        flex: 0 0 100%;
    }

    .project-section {
        padding: 40px;
    }
    footer p {
        font-size: 20px;
    }
    #WPL2_eindreflectie {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        text-align: center;
    }

    main, section {
        margin: 25px;
    }

    .gallery-item {
        flex: 0 0 50%;
    }
    #WPL2_eindreflectie {
        padding-left: 100px;
        padding-right: 100px;
    }

}

@media screen and (min-width: 1024px) {

    .project-section {
        padding: 60px;
    }

}