body {
    background-color: #151c58;
}
h1 {
    color: #ffe14f;
    font-family: "Times New Roman", sans-serif;
    font-size: 28px;
    text-align: center;
}
img {
    height:150px;
    width: 150px;
}
section {
    padding: 5px;
    margin: 10px auto;
    border: 2px solid #ffe14f;
    width: 500px;
    border-radius: 5px;
}
section:hover {
    background-color: #8daec6;
    cursor: pointer;
}
#buzzer, #fart, #doorbell, #badmuts {
    text-align: center;
    width: 20%;
    float: left;
    margin: 20px;
}
audio {
    width: 20%;
    min-width: 200px;
}
